.bank-button {
    -fx-background-color: #f8f8f8;
    -fx-border-color: #ddd;
    -fx-border-radius: 5;
    -fx-text-fill: black;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-alignment: center-left;
    -fx-pref-width: 330px;
    -fx-padding: 10;
}

.bank-button:hover {
    -fx-background-color: #e0e0e0;
}

.system-button {
    -fx-background-color: #007ACC; /* Синий цвет кнопки */
    -fx-text-fill: white; /* Белый текст */
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-border-radius: 5px; /* Закругленные углы */
    -fx-background-radius: 5px;
    -fx-padding: 10;
    -fx-cursor: hand; /* Курсор в виде руки при наведении */
}

.system-button:hover {
    -fx-background-color: #005F9E; /* Чуть темнее при наведении */
}

.system-button:pressed {
    -fx-background-color: #003F6B; /* Еще темнее при нажатии */
}

.role-button {
    -fx-background-color: #ffffff;
    -fx-border-color: #c5c5c5;
    -fx-border-radius: 8px;
    -fx-padding: 10px;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-pref-width: 250px;
    -fx-text-fill: #333;
    -fx-cursor: hand;
}

.role-button:hover {
    -fx-background-color: #e0e0e0;
}

.role-button:pressed {
    -fx-background-color: #d1d1d1;
}

.confirm-button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-border-radius: 8px;
    -fx-pref-width: 250px;
    -fx-padding: 10px;
    -fx-cursor: hand;
}

.confirm-button:hover {
    -fx-background-color: #45a049;
}

.confirm-button:pressed {
    -fx-background-color: #3e8e41;
}

.selected-role {
    -fx-background-color: #4CAF50 !important;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.account-item {
    -fx-background-color: #ffffff;
    -fx-background-radius: 10;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 1;
    -fx-border-radius: 10;
    -fx-padding: 10;
    -fx-alignment: center-left;
    -fx-spacing: 15;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 5, 0.5, 0, 2);
}

/* Стиль для кнопки с информацией о счете */
.account-info-button {
    -fx-background-color: transparent;
    -fx-text-fill: #333333;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 10 20 10 20;
    -fx-border-color: transparent;
    -fx-alignment: CENTER_LEFT;
    -fx-pref-width: 200px;
    -fx-min-height: 80px;
}

/* При наведении фон чуть изменяется */
.account-info-button:hover {
    -fx-background-color: #f9f9f9;
}

/* Стиль для кнопки с действием */
.account-action-button {
    -fx-background-color: #007bff;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-padding: 8 16 8 16;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}

/* При наведении на кнопку действия */
.account-action-button:hover {
    -fx-background-color: #0056b3;
}

.credit-item {
    -fx-background-color: #ffffff;
    -fx-background-radius: 10;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 1;
    -fx-border-radius: 10;
    -fx-padding: 10;
    -fx-alignment: center-left;
    -fx-spacing: 15;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 5, 0.5, 0, 2);
}

/* Если кредит не одобрен, добавляем дополнительный класс,
   который перекрашивает фон в светло-красный */
.credit-not-approved {
    -fx-background-color: #ffcccc; /* светло-красный фон */
}

/* Стиль для кнопки с информацией о кредите */
.credit-info-button {
    -fx-background-color: transparent;
    -fx-text-fill: #333333;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 10 20 10 20;
    -fx-border-color: transparent;
    -fx-alignment: CENTER_LEFT;
    -fx-pref-width: 300px;
    -fx-min-height: 150px;
}

/* При наведении фон чуть изменяется */
.credit-info-button:hover {
    -fx-background-color: #f9f9f9;
}

/* Стиль для кнопки действий с кредитом */
.credit-action-button {
    -fx-background-color: #007bff;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-padding: 8 16 8 16;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}

/* При наведении на кнопку действия */
.credit-action-button:hover {
    -fx-background-color: #0056b3;
}